.contacts {
  background-color: var(--accent-background, inherit);
  margin-left: -23px;
  margin-right: -25px;
  padding: 26px 23px 19px 23px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item address {
  font-style: normal;
}

.contacts__link {
  color: var(--text-title-color, inherit);
}
