.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 23px;
}

.navigation__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-title-color, inherit);
  margin: 0;
}

.navigation__link {
  font-size: 14px;
  line-height: 2.14;
  color: var(--text-title-color, inherit);
}
