.promo{
  margin-bottom: 108px;
}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.promo__item{
  background-color: var(--basic-background);
}

.promo__title {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 900;
  color: var(--text-title-color, inherit);
  margin: 0;
}

.promo__text {
  margin: 0;
}
